body {
    background-image: linear-gradient(#F5EAEA, #EDD9D9, #D7A9A9);
    margin: 0 auto;
    min-height: 150vh;
}

header {
    display: flex;
    flex-direction: row;
        background-color: #CAD0D9;
        width: 100%;
        height: 90px;
}
.logo {
    flex: 1;
}
.login {
    flex: 1;
    float: right;
}
#hamburger-menu {
    display: none;
    } 

    .footer {
        display: flex;
        flex-direction: row;
        }
        .info {
            flex: 1;
        }
        .resrc {
            flex: 1;
            }
        .company {
            flex: 1;
            }
        .follow {
            flex: 1;
            }
